<html>
    <head>
        <title>Query Result</title>
        <%- include("./partials/headTags") %>
    </head>
    <body>
        <%- include("./partials/header") %>
        <h1>Query Result:</h1>
        <ul>
            <% for(user of users) { %>
                <li>
                    <ul>
                        <li><%= user.name %></li>
                        <li><%= user.age %></li>
                        <li><%= user.major %></li>
                        <li><%= user.date %></li>
                    </ul>
                </li>
            <% } %>
        </ul>
    </body>

</html>